<header class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<a ui-sref="photo.index" class="navbar-brand">Internship</a>
		</div>
		<nav>
			<ul class="nav navbar-nav">
				<li>
					<a ui-sref="photo.index">Explore</a>
				</li>

				<li ng-if="$ctrl.UserService.user">
					<a ui-sref="user.photos({id: $ctrl.UserService.user.id})">My Gallery</a>
				</li>

				<li ng-if="$ctrl.UserService.user">
					<a ui-sref="photo.create">Upload Photo</a>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li ng-if="!$ctrl.UserService.user">
					<a ui-sref="user.signup">Sign up</a>
				</li>
				<li ng-if="!$ctrl.UserService.user">
					<a ui-sref="user.signin">Sign in</a>
				</li>

				<li ng-if="$ctrl.UserService.user">
					<p class="navbar-text">{{ $ctrl.UserService.user.name }}</p>
				</li>
				<li ng-if="$ctrl.UserService.user">
					<a href="" ng-click="$ctrl.logout()">Sign out</a>
				</li>
			</ul>
		</nav>
	</div>
</header>