.pv-30{
    padding-top: 30px;
    padding-bottom: 30px;
}

a.thumbnail:hover{
    text-decoration: none;
}

.pre-text{
    white-space: pre;
}

.comment{
    padding: 20px 15px;
    background-color: #f1f1f1;
}

.comment + .comment{
    margin-top: 20px;
}

.comment:last-of-type{
    margin-bottom: 20px;
}

.not-found-message-block{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f1f1f1;
    border-radius: 5px;
    text-align: center;
}

.not-found-message-block .not-found-message-block__message,
.not-found-message-block .not-found-message-block__icon{
    color: #777;
}

.img-frame{
    display: inline-block;
    border: 1px solid #ddd;
    padding: 4px;
    border-radius: 5px;
}

.img-preview{
    padding: 20px 0;
    display: block;
    max-height: 400px;
}

.img-frame > .img-preview{
    padding: 0px;
}

.dropzone{
    cursor: pointer;
    min-height: 150px;
    padding: 50px;
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: white;
}

.dropzone .dropzone__message{
    text-align: center;
    margin: 2em 0;
}